#drum-machine{
  width: 400px;
  margin: 0 auto;
  margin-top: 30vh;
  border: 2px solid orange;
  display: flex;
  justify-content: space-between;
}

#buttons{
  width: 150px;  
  border: 1px solid black;

  display: grid;
  grid-template-columns: 33% 33% 33%;

  padding: 10px;  
}

#controls{
  width: 150px;
  
}

#display{
  width: 100px;
  height: 20px;
  background: gray;
  border: 1px solid gray;

  text-align: center;

  margin-top: 10%;
}